<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.dao.TechRewardMapper">
	<resultMap id="rm" type="com.model.TechnologyReward">
		<result property="rewardId" jdbcType="VARCHAR" column="REWARD_ID"/>
		<result property="rewardNumber" jdbcType="VARCHAR" column="REWARD_NUMBER"/>		
		<result property="rewardName" jdbcType="VARCHAR" column="REWARD_NAME"/>
		<result property="department" jdbcType="VARCHAR" column="REWARD_DEPARTMENT"/>
		<result property="rewardLevel" jdbcType="INTEGER" column="REWARD_LEVEL"/>
		<result property="rewardRanking" jdbcType="INTEGER" column="REWARD_RANKING"/>
		<result property="totalNumber" jdbcType="INTEGER" column="TOTAL_NUMBER"/>
		<result property="rewardDate" jdbcType="TIMESTAMP" column="REWARD_DATE"/>
		<result property="certificate" jdbcType="VARCHAR" column="REWARD_CERTIFICATE"/>
		<result property="declareId" jdbcType="VARCHAR" column="DECLARE_ID"/>
		<result property="baseId" jdbcType="VARCHAR" column="BASE_ID"/>
	</resultMap>
	<sql id="Base_Column_List">
		REWARD_ID,
		REWARD_NUMBER,
		REWARD_NAME,
		REWARD_DEPARTMENT,
		REWARD_LEVEL,
		REWARD_RANKING,
		TOTAL_NUMBER,
		REWARD_DATE,
		REWARD_CERTIFICATE,
		DECLARE_ID,
		BASE_ID
	</sql>

	<select id="load" parameterType="java.lang.String" resultMap="rm">
		SELECT 
			<include refid="Base_Column_List" />
		FROM sys_technology_reward 
		WHERE 
			REWARD_ID=#{rewardId}
	</select>

	<!-- 按Id删除 -->
	<delete id="delete" parameterType="java.lang.String">
		DELETE FROM sys_technology_reward WHERE
		REWARD_ID=#{rewardId}
	</delete>
	 <!-- 插入 -->
	<insert id="insert">
		INSERT INTO sys_technology_reward (
			REWARD_ID,
			REWARD_NUMBER,
			REWARD_NAME,
			REWARD_DEPARTMENT,
			REWARD_LEVEL,
			REWARD_RANKING,
			TOTAL_NUMBER,
			REWARD_DATE,
			REWARD_CERTIFICATE,
			DECLARE_ID,
			BASE_ID
		) VALUES (
			#{rewardId},
			#{rewardNumber},
			#{rewardName},
			#{department},
			#{rewardLevel},
			#{rewardRanking},
			#{totalNumber},
			#{rewardDate},
			#{certificate},
			#{declareId},
			#{baseId}
		)
	</insert>

	<select id="findAllById"  parameterType="java.lang.String" resultMap="rm">
		SELECT 
			<include refid="Base_Column_List" />
		FROM sys_technology_reward
		WHERE 
			DECLARE_ID=#{declareId}
	</select>
	
	<!-- 更新 -->
	<update id="update" parameterType="com.model.TechnologyReward">
		UPDATE sys_technology_reward SET
			REWARD_NUMBER=#{rewardNumber},
			REWARD_NAME=#{rewardName},
			REWARD_DEPARTMENT=#{department},
			REWARD_LEVEL=#{rewardLevel},
			REWARD_RANKING=#{rewardRanking},
			TOTAL_NUMBER=#{totalNumber},
			REWARD_DATE=#{rewardDate},
			REWARD_CERTIFICATE=#{certificate}
		WHERE 
			REWARD_ID=#{rewardId}
	</update>
	
</mapper>

